#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
  }
  
 
  .card {
    padding: 1em;
    background-color: darkslategray;
    border-radius: 5px;
    max-width: 300px;
    min-width: 30vw;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    justify-content: center;
    height: auto;
  }
  
 